/* =================================================
GENERAL
================================================= */
* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
html {
	font-size: 125%;
	background: $secondaryColor;
}
body {
	background: linear-gradient(-45deg, $tertiaryColor 0%, $secondaryColor 100%);
	background-size: 100% 200%;
	z-index: -2;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: none;
}
.container,
body {
	color: $fontPrimaryColor;
}
div,
ul,
li,
a,
.navButton {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav ul,
.headerCard,
main .wrapper,
a,
.navButton, .skillsContent li {
	flex-direction: column;
}
.container {
	justify-content: center;
}
ul {
	list-style: none;
}
nav ul,
.headerCard,
main .wrapper {
	border-radius: 6px;
	background-color: $quaternaryColor;
}
img {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
}
h3 {
	width: 100%;
	position: relative;
	padding: 2rem;
	z-index: 1;
	font-size: 2rem;
	&::before {
		content: ' ';
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		display: inline-block;
		background: linear-gradient(135deg, $accentColor, rgba(0, 0, 0, 0));
		position: absolute;
		top: 1.5rem;
		left: 1rem;
		z-index: -1;
	}
}
h3::after, .project::before {
	content: "";
	background: radial-gradient(ellipse at top, $septenaryColor 0%, $quaternaryColor 80%);
	width: 100%;
	height: 1px;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 5%;
}
p {
	font-weight: 200;
}
a:hover {
	color: $primaryColor;
}
footer {
	text-align: center;
	margin-top: 1%;
	padding: 2%;
	border-radius: 6px 6px 0 0;
	background-color: $quaternaryColor;
	color: $primaryColor;
	width: 60%;
	align-self: center;
	p {
		font-family: "Poppins", sans-serif;
		font-size: 1rem;
		font-weight: 800;
	}
}
