* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 125%;
}
.container, body {
	color: $fontPrimaryColor;
	background-color: $secondaryColor;
}
div, ul, li, a {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav ul, .headerCard, main .wrapper, a {
	flex-direction: column;
}
.container {
	margin: 5vh;
	justify-content: center;
}
header .wrapper {
	align-items: center;
}
header nav {
	margin: 0.75rem;
}
ul {
	list-style: none;
}
nav ul, .headerCard, main .wrapper {
	border-radius: 6px;
	background-color: $quaternaryColor;
}
main .wrapper {
	border-radius: 0 6px 6px 0;
}
nav ul {
	height: 70vh;
	width: 6vw;
	position: relative;
	z-index: 1;
}
.headerCard {
	background-color: $quinaryColor;
	box-shadow: -1rem -1rem 0 $tertiaryColor;
	height: 90vh;
	width: 40vw;
}
main .wrapper {
	height: 80vh;
	width: 47.5vw;
}
a, a i {
	color: $primaryColor;
	text-decoration: none;
}
img {
	border-radius: 50%;
}