li {
	width: 90%;
}
a,
.navButton {
	width: 100%;
}
.navButton span,
.navButton i,
a span,
a i {
	padding: 0.5rem;
	font-size: 0.8rem;
	text-transform: uppercase;
	cursor: pointer;
}
nav ul li a::before,
nav ul li .navButton::before {
	content: "";
	background: radial-gradient(ellipse at top, $septenaryColor 0%, $quaternaryColor 80%);
	width: 100%;
	height: 1px;
	display: inline-block;
}
