/* =================================================
COLORS
================================================= */
$primaryColor: #00ad42;
$secondaryColor: #1d2222;
$tertiaryColor: #292f2f;
$tertiaryColorTransparent: #292f2fc0;
$quaternaryColor: #3c4242;
$quinaryColor: #404645;
$senaryColor: #4b5253;
$septenaryColor: #586061;
$octonaryColor: #697475;
$fontPrimaryColor: #d5eeeb;
$fontSecondaryColor: #a5c8b1;
$accentColor: #00ad4249;