/* =================================================
COLORS
================================================= */
$primaryColor: #00ad42;
$secondaryColor: #1b1f1f;
$tertiaryColor: #292f2f;
$quaternaryColor: #363b3b;
$quinaryColor: #404645;
$septenaryColor: #586061;
$fontPrimaryColor: #d5eeeb;