/* =================================================
COLORS
================================================= */
$primaryColor: #00ad42;
$secondaryColor: #1b1f25;
$tertiaryColor: #22272f;
$tertiaryColorTransparent: #24272e83;
$quaternaryColor: #30323b;
$quinaryColor: #33353f;
$senaryColor: #3d4355;
$septenaryColor: #444a5e;
$octonaryColor: rgb(82, 92, 112);
$fontPrimaryColor: #e2e5f3;
$fontSecondaryColor: #c3dfcd;
$accentColor: #00ad4249;