html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =================================================
COLORS
================================================= */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 125%;
}

body {
  background: linear-gradient(-45deg, #22272f 0%, #1b1f25 100%);
  background-size: 100% 200%;
  z-index: -2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container,
body {
  color: #e2e5f3;
}

.container {
  padding-top: 2%;
}

div,
ul,
li,
a,
.navButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul,
.headerCard,
main .wrapper,
a,
.navButton, .skillsContent li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 5vh 5vh 0 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul {
  list-style: none;
}

nav ul,
.headerCard,
main .wrapper {
  border-radius: 6px;
  background-color: #30323b;
}

main {
  border-radius: 0 6px 6px 0;
  background-color: #30323b;
}

main .wrapper {
  border-radius: 0 6px 6px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
  scrollbar-color: #00ad42 #30323b;
  scrollbar-width: thin;
  margin: 5px 0;
}
main .wrapper p {
  padding: 1rem;
}
main .wrapper::-webkit-scrollbar {
  width: 5px;
}
main .wrapper::-webkit-scrollbar-thumb {
  background-color: #c3dfcd;
  border-radius: 20px;
}
main .wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #00ad42;
  border-radius: 20px;
}

main .wrapper, main {
  height: 78vh;
  width: 45vw;
}

a,
.navButton,
.navButton i,
a i {
  color: #c3dfcd;
  text-decoration: none;
}

li:hover > .navButton > i,
li:hover > .navButton,
li:hover > a > i,
li:hover > a,
.currentButton,
.currentButton i {
  color: #00ad42;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .imgContainer {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

h3 {
  width: 100%;
  position: relative;
  padding: 2rem;
  z-index: 1;
  font-size: 2rem;
}
h3::before {
  content: " ";
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(135deg, #00ad4249, rgba(0, 0, 0, 0));
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  z-index: -1;
}

h3::after, .project::before {
  content: "";
  background: radial-gradient(ellipse at top, #444a5e 0%, #30323b 80%);
  width: 100%;
  height: 1px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 5%;
}

footer {
  text-align: center;
  margin-top: 1%;
}

p {
  font-weight: 200;
}

.boxAnimation1,
.boxAnimation2,
.boxAnimation3,
.boxAnimation4,
.boxAnimation5,
.boxAnimation6 {
  position: fixed;
  background: #24272e83;
  z-index: -1;
}

.boxAnimation1 {
  height: 200px;
  width: 200px;
  -webkit-animation: meander1 5s alternate infinite, spinning 30s infinite, upping 30s infinite;
          animation: meander1 5s alternate infinite, spinning 30s infinite, upping 30s infinite;
}

.boxAnimation2 {
  height: 100px;
  width: 100px;
  -webkit-animation: meander2 15s alternate infinite, spinning 3s infinite, upping 26s infinite;
          animation: meander2 15s alternate infinite, spinning 3s infinite, upping 26s infinite;
}

.boxAnimation3 {
  height: 50px;
  width: 50px;
  -webkit-animation: meander3 8s alternate infinite, spinning 50s infinite, upping 20s infinite;
          animation: meander3 8s alternate infinite, spinning 50s infinite, upping 20s infinite;
}

.boxAnimation4 {
  height: 300px;
  width: 300px;
  -webkit-animation: meander4 5s alternate infinite, spinning 12s infinite, upping 37s infinite;
          animation: meander4 5s alternate infinite, spinning 12s infinite, upping 37s infinite;
}

.boxAnimation5 {
  height: 150px;
  width: 150px;
  -webkit-animation: meander5 20s alternate infinite, spinning 30s infinite, upping 16s infinite;
          animation: meander5 20s alternate infinite, spinning 30s infinite, upping 16s infinite;
}

.boxAnimation6 {
  height: 250px;
  width: 250px;
  -webkit-animation: meander6 10s alternate infinite, spinning 10s infinite, upping 10s infinite;
          animation: meander6 10s alternate infinite, spinning 10s infinite, upping 10s infinite;
}

@-webkit-keyframes meander1 {
  0% {
    left: 0;
  }
  100% {
    left: 10vw;
  }
}

@keyframes meander1 {
  0% {
    left: 0;
  }
  100% {
    left: 10vw;
  }
}
@-webkit-keyframes meander2 {
  0% {
    left: 10vw;
  }
  100% {
    left: 20vw;
  }
}
@keyframes meander2 {
  0% {
    left: 10vw;
  }
  100% {
    left: 20vw;
  }
}
@-webkit-keyframes meander3 {
  0% {
    left: 20vw;
  }
  100% {
    left: 10vw;
  }
}
@keyframes meander3 {
  0% {
    left: 20vw;
  }
  100% {
    left: 10vw;
  }
}
@-webkit-keyframes meander4 {
  0% {
    left: 40vw;
  }
  100% {
    left: 60vw;
  }
}
@keyframes meander4 {
  0% {
    left: 40vw;
  }
  100% {
    left: 60vw;
  }
}
@-webkit-keyframes meander5 {
  0% {
    left: 90vw;
  }
  100% {
    left: 30vw;
  }
}
@keyframes meander5 {
  0% {
    left: 90vw;
  }
  100% {
    left: 30vw;
  }
}
@-webkit-keyframes meander6 {
  0% {
    left: 80vw;
  }
  100% {
    left: 90vw;
  }
}
@keyframes meander6 {
  0% {
    left: 80vw;
  }
  100% {
    left: 90vw;
  }
}
@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes upping {
  0% {
    bottom: -30vh;
  }
  100% {
    bottom: 120vh;
  }
}
@keyframes upping {
  0% {
    bottom: -30vh;
  }
  100% {
    bottom: 120vh;
  }
}
main {
  z-index: 0;
  border-radius: 0 6px 6px 0;
}

main .wrapper.intoSight {
  position: relative;
  opacity: 1;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
  overflow-x: hidden;
  border-radius: 6px;
}

main .wrapper.outOfSight {
  position: absolute;
  opacity: 0;
  height: 0;
  -webkit-animation: fadeOut 3s;
          animation: fadeOut 3s;
  overflow: hidden;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
header nav {
  margin: 0.75rem;
}

li {
  width: 90%;
}

nav ul {
  height: 500px;
  width: 100px;
  position: relative;
  z-index: 1;
}

a,
.navButton {
  width: 100%;
}

.navButton span,
a span {
  font-weight: 400;
}

.navButton span,
.navButton i,
a span,
a i {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

.navButton i,
a i {
  padding: 1rem 0.25rem 0 0.25rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

a i {
  padding: 0rem 0.25rem 1rem 0.25rem;
}

.project h4::before,
nav ul li .navButton::before {
  content: "";
  background: radial-gradient(ellipse at top, #444a5e 0%, #30323b 80%);
  width: 100%;
  height: 1px;
  display: inline-block;
}

header .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerCard {
  background-color: #33353f;
  -webkit-box-shadow: -1rem -1rem 0 #24272e83;
          box-shadow: -1rem -1rem 0 #24272e83;
  height: 90vh;
  width: 40vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #00ad42;
}

h2::after {
  content: "";
  background: radial-gradient(ellipse at top, #525c70 0%, #33353f 80%);
  width: 100%;
  height: 1px;
  display: inline-block;
  cursor: pointer;
}

.profileImg {
  width: calc(10vw + 10vh);
  margin-top: -10rem;
  z-index: 1;
}
.profileImg img, .profileImg video {
  border: 4px solid #30323b;
  border-radius: 50%;
  -webkit-box-shadow: -15px 15px 0 #00ad4249;
          box-shadow: -15px 15px 0 #00ad4249;
  width: 300px;
  height: 300px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.backImgContainer {
  background-image: url("../images/codeback.JPG");
  background-size: cover;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: relative;
  border-radius: 6px 6px 0 0;
}
.backImgContainer::before {
  content: " ";
  width: 100%;
  height: 30%;
  background-color: #33353f;
  position: absolute;
  bottom: -10vh;
  left: -10vw;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
.backImgContainer::after {
  content: " ";
  width: 100%;
  height: 30%;
  background-color: #33353f;
  position: absolute;
  bottom: -10vh;
  right: -10vw;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.skillsContent li {
  width: 30%;
  text-align: center;
  padding: 1rem;
}
.skillsContent li:hover {
  color: #c3dfcd;
}
.skillsContent li i {
  font-size: 2rem;
}

.skillsContent ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectImg {
  width: 30vw;
  height: 30vh;
  border-radius: 6px;
  overflow: hidden;
  margin: 5%;
}

.projectsContent {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectsContent a {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projectsContent a i,
.projectsContent a span {
  padding: 0;
  margin: 0;
}

.project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  margin: 0 auto;
}
.project h4 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 5%;
  position: relative;
  z-index: 1;
}
.project h4::before {
  content: " ";
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(135deg, #00ad4249, rgba(0, 0, 0, 0));
  position: absolute;
  top: -0.25rem;
  left: -0.75rem;
  z-index: -1;
}
.project p {
  margin: 0 5%;
}
.project .links {
  margin: 0 auto 5% auto;
}
.project .links span {
  text-transform: none;
}
.project .links a:hover i, .project .links a:hover span {
  color: #00ad42;
}

@media (min-width: 1440px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }

  header {
    width: 100%;
    overflow: hidden;
  }

  main {
    width: 100%;
    overflow: hidden;
  }
}
@media (max-width: 1000px) {
  body {
    overflow: scroll;
    padding-bottom: 5%;
  }

  .container,
header > .wrapper,
header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .headerCard {
    width: 80%;
    height: 80%;
  }

  .profileImg {
    width: calc(10vw + 10vh);
    margin-top: -15%;
  }
  .profileImg img {
    -webkit-box-shadow: -7.5px 7.5px 0 #00ad4249;
            box-shadow: -7.5px 7.5px 0 #00ad4249;
  }

  main {
    width: 70%;
    border-radius: 0 0 6px 6px;
  }

  main .wrapper {
    width: 100%;
    height: 97.5%;
  }

  .navBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
  }

  nav ul {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
  }

  nav ul li::before {
    content: "";
    background: radial-gradient(ellipse at top, #444a5e 0%, #30323b 80%);
    height: 100px;
    width: 1px;
    display: inline-block;
  }

  main, main .wrapper {
    height: 100%;
  }
}
@media (max-width: 500px) {
  .skillsContent li {
    width: 40%;
  }
  .skillsContent li span,
.skillsContent li i {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  h3, .project h4 {
    font-size: 1rem;
  }

  .skillsContent li {
    width: 90%;
  }
  .skillsContent li span,
.skillsContent li i {
    font-size: 1rem;
  }
}